:root{
    --jet:#363537;
    --react: #61DBFB;
    --html: #F06529;
    --b: #82E8E8;
}
a{
    text-decoration:none;
    color: white;
}
body{
    background-color: var(--jet);
    margin: 0px;
}
header{
    background-color: #29282A;
    justify-content: space-between;
    display: flex;
    
    padding: 10px;
}
div{
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    text-align: justify;
}
nav{
    justify-content: space-around;
    display:flex;
}
li{
    text-decoration: none;
    width: 150px;
}
ul{
    display: flex;
    list-style-type: none;
}
#imgArea{
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}
#projImg{
    width: 300px;  /* set to anything and aspect ratio is maintained - also corrects glitch in Internet Explorer */
    height: auto;  /* set to anything and aspect ratio is maintained */
    border: 0; /* set to anything and aspect ratio is maintained */
}
#proj{
    display: flex;
    margin-top: 20px;    
}
#center{
    margin: 5%;
    margin-bottom: 0px;
}
#cont{
    color: var(--b);
    margin-right: 20px;
    font-size: 30px;
}
#lang{
    border-radius: 8px;
    justify-content: space-around;
    color: black;
    padding-right: 5px;
    padding-left: 5px;
    width: min-content;
    display: inline;
    margin-right: 10px;
}
#name{
    font-size: 36px;
    text-align: left;
}
#avatar{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
#aboutMeArea{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#aboutmeText{
    height: 300px;
    max-width: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}
#projArea{
    max-width: 100%;
    margin-right: 30px;
}
#imgDiv{
    display: block;
    justify-content: flex-start;

}
.tittle{
    font-size: 32px;
    text-decoration: underline;
}
#projTitle{
    font-size: 28px;
    font-weight: 600;
}
#projtext{
    color: #DEE5E5;
}
#host{
    padding: 10px;
    color: #A3A1A5;
    font-size: 30px;
    text-align: center;
}
#contato{
    width: 60;
    justify-content: space-between;
}
@media only screen and (max-width:970px){
    
    #projArea{
        max-width: 100%;
    }
    #proj{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    #projImg{
        width: 300px;  /* set to anything and aspect ratio is maintained - also corrects glitch in Internet Explorer */
        height: auto;  /* set to anything and aspect ratio is maintained */
        border: 0; /* set to anything and aspect ratio is maintained */
        
    }
    #aboutMeArea{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }
    .tittle{
        font-size: 32px;
        text-decoration: underline;
        text-align: center;
    }
    #imgDiv{
        display: flex;
        justify-content: center;
    
    }
    #imgArea{
        display: flex;
        justify-content: center;
    }
    #contato{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width:590px){
    nav{
        display: none;
    }
}